*{
  margin: 0;
  padding: 0;
}

/* Vamos a tratar de hacer neobrutalismooo */

body{
  background-color: #FADF0B;
  color: #111;
  margin: 16px;
}

.grid{
  display: grid;
  width: 100%;
  gap: 28px;
  height: 96vh;

  grid-template-columns: repeat(4,1fr);
  grid-template-areas: 
      "saludo saludo saludo saludo"
      "mate mate mate mate"
      "carro carro moto moto"
      "marca marca marca marca"
      "actions actions actions actions"
  ;
}

.grid>*{
  padding: 16px;
  align-items: center;
  justify-content: center;
  font: 700 24px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 4px;
  border: 4px solid black;
  filter: drop-shadow(8px 8px black);
}

.saludo{grid-area: saludo; background-color: #A388EE;}
.carro{grid-area: carro; background-color: #FFB2EF;}
.moto{grid-area: moto; background-color: #90EE90;}
.mate{grid-area: mate; background-color: #333; color: #f5f5f5;}
.marca{grid-area: marca; background-color: #FF4911;}
.actions{grid-area: actions; background-color: #87CEEB;}

.actions{
  text-align: center;
}
.actions h3{
  text-align: start;
}
.actions button{
  display: inline-block;
  font-weight: 600;
  margin-top: 1rem;
  width: 24%;
  height: 3rem;
  border-radius: 100px;
  border: 2px solid black;
  filter: drop-shadow(black 2px 2px);
  cursor: pointer;
}


#a{
  margin-right: 8px;
  background-color: #2FFF2F;
}
#a:hover{
  background-color: #11b611;
  border: 3px solid black;
  filter: drop-shadow(black 4px 4px);
}

#b:hover{
  background-color: #acacac;
  border: 3px solid black;
  filter: drop-shadow(black 4px 4px);
}

#c{
  margin-left: 8px;
  background-color: rgb(247, 71, 71);
}
#c:hover{
  background-color: rgb(207, 46, 46);
  border: 3px solid black;
  filter: drop-shadow(black 4px 4px);
}

@media(max-width:800px){
  .grid>*{
      font: 650 20px;
      border-radius: 4px;
  }
  .grid{
      grid-template-areas:
        "saludo saludo saludo saludo"
        "carro carro moto moto"
        "mate mate mate mate"
        "marca marca marca marca"
        "actions actions actions actions"
      ;
  }
  .actions button{
    display: block;
    width: 100%;
  }
  #a{
    margin-right: 0;
  }
  #c{
    margin-left: 0;
  }
}

@media(max-width:500px){
  .grid>*{
      font: 600 16px;
      border-radius: 4px;
  }

  .grid{
      grid-template-areas:
        "saludo saludo saludo saludo"
        "mate mate mate mate"
        "carro carro carro carro"
        "moto moto moto moto"
        "marca marca marca marca"
        "actions actions actions actions"
      ;
  }
}